@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* CSS para los containers */
.container {
  margin-top: 20px;
  margin-bottom: 10px;
  background: #cad3dc;
  z-index: 1;

}

/*Para la imagen responsive*/
img {
  border-radius: 60%;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.responsive {
  max-width: 200px;
  height: auto;
}


/*Para la tabla*/

th,
td {
  padding: 15px;
}