/* CSS Para la navbar */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  font-family: 'Montserrat', sans-serif; 
  background-color: #fbfcf7;
}

label.logo{
    color: #fbfcf7;
    font-size: 35px;
    padding: 0 100px;
    font-weight: bold;
}

a.active, a:hover{
  background: #0198d1;
    transition: .5s; 
}

nav{
  background: #0b7ab1;
  color: #fbfcf7;
}
nav a{
  color: #fbfcf7;
}
  

/* CSS para los containers */
.container {
    margin-top: 20px;
    margin-bottom: 10px;
    
  /*margin-right: 0px;
    margin-left: 10px; 
    margin: auto; 
  height: 500px;
  width: 300px;*/
  background: #edebe8;
  z-index: 1;
  
  
  /* -webkit-box-shadow: -2px 6px 52px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 6px 52px -2px rgba(0,0,0,0.75);
box-shadow: -2px 6px 52px -2px rgba(0,0,0,0.75); */
}

/*Para la imagen responsive*/
img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  
}
.responsive {
    max-width: 100px;
    height: auto;
  }

 
/*Para la tabla*/

th, td {
    padding: 15px;
  }