/* CSS Para la navbar */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  font-family: 'Montserrat', sans-serif; 
  background-color: #fbfcf7;
}

label.logo{
    color: #fbfcf7;
    font-size: 35px;
    padding: 0 100px;
    font-weight: bold;
}

a.active, a:hover{
  background: #0198d1;
    transition: .5s; 
}

nav{
  background: #0b7ab1;
  color: #fbfcf7;
}
nav a{
  color: #fbfcf7;
}
  