/* CSS Para la navbar */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  font-family: montserrat; 
}

label.logo{
    color: white;
    font-size: 35px;
    padding: 0 100px;
    font-weight: bold;
}

a.active, a:hover{
    background: #1B9BFF;
    transition: .5s; 
}
  